@font-face {
  font-family: "Black_BasisGrotesqueArabicPro";
  src: url("../assets/fonts/BasisGrotesquePROFontFamily/BasisGrotesqueArabicPro-Black.ttf")
    format("truetype");
}

@font-face {
  font-family: "Bold_BasisGrotesqueArabicPro";
  src: url("../assets/fonts/BasisGrotesquePROFontFamily/BasisGrotesqueArabicPro-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Light_BasisGrotesqueArabicPro";
  src: url("../assets/fonts/BasisGrotesquePROFontFamily/BasisGrotesqueArabicPro-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "Medium_BasisGrotesqueArabicPro";
  src: url("../assets/fonts/BasisGrotesquePROFontFamily/BasisGrotesqueArabicPro-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Regular_BasisGrotesqueArabicPro";
  src: url("../assets/fonts/BasisGrotesquePROFontFamily/BasisGrotesqueArabicPro-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "WorkSans-Black";
  src: url("../assets/fonts/WorkSans/WorkSans-Black.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Bold";
  src: url("../assets/fonts/WorkSans/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Light";
  src: url("../assets/fonts/WorkSans/WorkSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Medium";
  src: url("../assets/fonts/WorkSans/WorkSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Regular";
  src: url("../assets/fonts/WorkSans/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OggRoman";
  src: url("../assets/fonts/OggRoman/Ogg-Roman.ttf") format("truetype");
}

@font-face {
  font-family: "Black_BasisGrotesqueArabicPro";
  src: url("../assets/fonts/BasisGrotesquePROFontFamily/BasisGrotesqueArabicPro-Black.ttf")
    format("truetype");
}

@font-face {
  font-family: "Bold_BasisGrotesqueArabicPro";
  src: url("../assets/fonts/BasisGrotesquePROFontFamily/BasisGrotesqueArabicPro-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Light_BasisGrotesqueArabicPro";
  src: url("../assets/fonts/BasisGrotesquePROFontFamily/BasisGrotesqueArabicPro-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "Medium_BasisGrotesqueArabicPro";
  src: url("../assets/fonts/BasisGrotesquePROFontFamily/BasisGrotesqueArabicPro-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Regular_BasisGrotesqueArabicPro";
  src: url("../assets/fonts/BasisGrotesquePROFontFamily/BasisGrotesqueArabicPro-Regular.ttf")
    format("truetype");
}
